<%- include('../partials/header') %>
  <table id="list">
    <thead>
      <tr>
        <th>Restaurant Name</th>
        <th>Location</th>
        <th>Categories</th>
        <th></th>
      </tr>
    </thead>
    <% businesses.forEach((element, index) => { %>
    <tbody>
        <tr>
          <form class="new-form" action="/saved-restaurants" method="POST">
          <td> <input type = "hidden" name = "restaurant_name" value = "<%- businesses[index].name%>"> <%= businesses[index].name%></td>
          <td> <input type = "hidden" name = "address" value = "<%- businesses[index].location.address1%>"> <%= businesses[index].location.address1 %></td>
          <td> <input type = "hidden" name = "cuisine" value = "<%- businesses[index].categories[0].title%>"> <%= businesses[index].categories[0].title%></td>
          <td> <input type="submit" value="Save"> </td>
        </form>
        </tr>
    <% }); %>
      </tbody>
    </table>

<%- include('../partials/footer') %>