<%- include('../partials/header') %>
  <table id="list">
    <thead>
      <tr>
        <th>Restaurant Name</th>
        <th>Location</th>
        <th>Categories</th>
        <th></th>
      </tr>
    </thead>
    <% saved_restaurants.forEach(function(s) { %>
    <tbody>
        <tr>
          <form class="new-form" action="/saved-restaurants/<%= s._id %>?_method=DELETE" method="POST">
            <td> <input type = "hidden" name = "restaurant_name" value = "<%- s.restaurant_name %>"> <%= s.restaurant_name %></td>
            <td> <input type = "hidden" name = "address" value = "<%- s.address %>"> <%= s.address %></td>
            <td> <input type = "hidden" name = "cuisine" value = "<%- s.crusine %>"> <%= s.crusine %></td>
            <% if (user && user._id.equals(s.user)) { %>
            <td> <input type="submit" value="DELETE"> </td>
            <% } %>
          </form>
        </tr>
    <% }); %>
      </tbody>
    </table>

<%- include('../partials/footer') %>